<table>
    <td>
        <img src="https://ciadaconcepcao.com.br/wp-content/uploads/2017/01/innohub-270x270.png" style="width: 100px">
    </td>
    <td>
        <img src="https://i.ibb.co/vJ858Kg/ets-logo2.png" style="width: 200px">
    </td>
</table>


# <center>Treinamento Iot -Módulo II</center>
## <center>Aula 3 - Pandas - parte 2</center>

![panda](https://databootcamp.nyc3.digitaloceanspaces.com/img/panda2.jpg)

Vamos continuar usando o __Pandas__ para trabalhar nosso dados.

Vamos abrir o dataset que foi salvo no final da aula anterior.

In [1]:
import pandas as pd
titanic = pd.read_csv("titanic.csv")

## Vamos analisar as informações sobre os passageiros

Vamos ver quais passageiros sobreviveram e entender o porque disso.

### Vamos focar a nossa análise para detectar padrões que vão nos dizer quem sobreviveu ou não!

Pra isso, primeiro vamos os dados brutos sobre esse dado

In [7]:
titanic[titanic["Survived"]==0]["Survived"].count()

549

In [9]:
titanic[titanic["Survived"]==1]["Survived"].count()

342

In [23]:
def calculate_percentage(valor,total):
    percent = float(valor/total)
    beautiful_percent = f"{percent*100:.2f}%"
    return beautiful_percent

In [111]:
Total = titanic["Survived"].count()
Vivos = titanic[titanic["Survived"]==1]
Mortos = titanic[titanic["Survived"]==0]

print(f"Total: {Total}\nVivos: {Vivos['Survived'].count()}\nMortos: {Mortos['Survived'].count()}")

Total: 891
Vivos: 342
Mortos: 549

In [112]:
print(calculate_percentage(Vivos,Total))

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
print(calculate_percentage(Mortos,Total))

Descobrimos que mais gente morreu :(

### Será que tem alguma relação com a taxa de sobrevivencia se ele estava com a família?

#### Primeiro, qual a porcentagem geral de pessoas com parentes a bordo?

In [72]:
titanic["Parentes"] = titanic["Parch"] + titanic["SibSp"]
print(titanic.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Parentes'],
      dtype='object')

In [73]:
Com_Familia = titanic[titanic["Parentes"]>0]["Parentes"].count()
Sem_Familia = titanic[titanic["Parentes"]==0]["Parentes"].count()

print("Sem Família:",calculate_percentage(Sem_Familia,Total))
print("\nCom Família:",calculate_percentage(Com_Familia,Total))

Sem Família: 60.27%

Com Família: 39.73%

# Vamos começar pelos que morreram!

In [100]:
Mortos_Com_Familia = Mortos.Survived[Mortos["Parentes"]!=0].count()
print("Mortos Com Família:",Mortos_Com_Familia)

Mortos Com Família: 175

In [115]:
# Mortos Sem Família

Mortos_Sem_Familia = Mortos.Survived[Mortos["Parentes"]==0].count()
print("Mortos Sem Família:",Mortos_Sem_Familia)

Mortos Sem Família: 374

In [117]:
# Porcentagem de Mortos COM e SEM Família

print("Não Sobreviveram que NÃO tem Família no Barco",calculate_percentage(Mortos_Sem_Familia,Mortos.Survived.count()))
print("Não Sobreviveu que TEM Família no Barco",calculate_percentage(Mortos_Com_Familia,Mortos.Survived.count()))

Não Sobreviveram que NÃO tem Família no Barco 68.12%
Não Sobreviveu que TEM Família no Barco 31.88%

Maioria dos mortos não tinha familia no barco!

Vamos ver os vivos para ver se essa informação é relevante!

In [118]:
# Vivos Com Família

Vivos_Com_Familia = Vivos.Survived[Vivos["Parentes"]!=0].count()
print(Vivos_Com_Familia)

179

In [119]:
# Vivos Sem Família

Vivos_Sem_Familia = Vivos.Survived[Vivos["Parentes"]==0].count()
print(Vivos_Sem_Familia)

163

In [122]:
# Porcentagem de Vivos COM e SEM Família 

print("Sobreviventes que NÃO tem Família",calculate_percentage(Vivos_Sem_Familia,Vivos.Survived.count()))
print("Sobreviventes que TEM Família",calculate_percentage(Vivos_Com_Familia,Vivos.Survived.count()))

Sobreviventes que NÃO tem Família 47.66%
Sobreviventes que TEM Família 52.34%

#### Não começaria acreditando que isso contém uma forte relação para definir sobrevivência mas sobre os mortos teve um belo impacto!

### Será que tem alguma relação do "sexo"com a taxa de sobrevivencia?

#### Primeiro qual a porcentagem geral de pessoas por sexo?

In [135]:
Mulher = titanic[titanic["Sex"]=="female"]["Sex"].count()
Homem = titanic[titanic["Sex"]=="male"]["Sex"].count()

print(f"Homem: {calculate_percentage(Homem,Total)}\nMulher {calculate_percentage(Mulher,Total)}")

Homem: 64.76%
Mulher 35.24%

In [142]:
print("Homens Mortos:",Mortos.Survived[Mortos["Sex"]=="male"].count())

Homens Mortos: 468

In [143]:
print("Mulheres Mortas:",Mortos.Survived[Mortos["Sex"]=="female"].count())

Mulheres Mortas: 81

In [144]:
Mulheres = titanic[titanic["Sex"]=="female"]
Homens = titanic[titanic["Sex"]=="male"]

Homens_Vivos = Vivos.Survived[Vivos["Sex"]=="male"].count()
Mulheres_Vivas = Vivos.Survived[Vivos["Sex"]=="female"].count()


print("Não sobreviveu do sexo Masculino",calculate_percentage(Homens_Vivos,Vivos.Survived.count()))
print("Não sobreviveu do sexo Feminino",calculate_percentage(Mulheres_Vivas,Vivos.Survived.count()))

Não sobreviveu do sexo Masculino 31.87%
Não sobreviveu do sexo Feminino 68.13%

In [149]:
Homens_Vivos = Vivos.Survived[Vivos["Sex"]=="male"].count()
print("Homens Sobreviventes:",Homens_Vivos)

Homens Sobreviventes: 109

In [147]:
Mulheres_Vivas = Vivos.Survived[Vivos["Sex"]=="female"].count()
print("Mulheres Sobreviventes:",Mulheres_Vivas)

Mulheres Vivas: 233

In [156]:
print("Sobreviveu do sexo Masculino:",calculate_percentage(Homens_Vivos,Vivos.Survived.count()))
print("Sobreviveu do sexo Feminino:",calculate_percentage(Mulheres_Vivas,Vivos.Survived.count()))

Sobreviveu do sexo Masculino: 31.87%
Sobreviveu do sexo Feminino: 68.13%

#### Começaria acreditando que existe uma forte relação de sobrevivência ou morte!

## Vamos verificar se a classe a cabine (Pclass) também influencia na sobrevivência ou morte?

![alt text](https://databootcamp.nyc3.digitaloceanspaces.com/img/desafio.jpg)

# LIVE CODE

In [171]:
Classe1_Vivos=titanic.Survived[titanic["Pclass"]==1].count()
Classe2_Vivos=titanic.Survived[titanic["Pclass"]==2].count()
Classe3_Vivos=titanic.Survived[titanic["Pclass"]==3].count()

print("Sobreviventes:")
print("Primeira Classe",calculate_percentage(Classe1_Vivos,Total))
print("Segunda Classe:",calculate_percentage(Classe2_Vivos,Total))
print("Terceira Classe:",calculate_percentage(Classe3_Vivos,Total))

Sobreviventes:
Primeira Classe 24.24%
Segunda Classe: 20.65%
Terceira Classe: 55.11%

In [174]:
Mortos_Classe1 = Mortos.Survived[Mortos["Pclass"]==1].count()
print(Mortos_Classe1)

80

In [176]:
Mortos_Classe2 = Mortos.Survived[Mortos["Pclass"]==2].count()
print(Mortos_Classe2)

97

In [177]:
Mortos_Classe3 = Mortos.Survived[Mortos["Pclass"]==3].count()
print(Mortos_Classe3)

372

In [180]:
print("Não Sobreviveu da Primeria Classe:",calculate_percentage(Mortos_Classe1,Mortos.Survived.count()))
print("Não Sobreviveu da Segunda Classe:",calculate_percentage(Mortos_Classe2,Mortos.Survived.count()))
print("Não Sobreviveu da Terceira Classe:",calculate_percentage(Mortos_Classe3,Mortos.Survived.count()))

Não Sobreviveu da Primeria Classe: 14.57%
Não Sobreviveu da Segunda Classe: 17.67%
Não Sobreviveu da Terceira Classe: 67.76%

In [182]:
Classe1_Vivos = Vivos.Survived[Vivos["Pclass"]==1].count()
print(Classe1_Vivos)

136

In [189]:
Classe2_Vivos = Vivos.Survived[Vivos["Pclass"]==2].count()
print(Classe2_Vivos)

87

In [190]:
Classe3_Vivos = Vivos.Survived[Vivos["Pclass"]==3].count()
print(Classe3_Vivos)

119

In [192]:

print("Sobreviventes:")
print(f"Primeira Classe: {calculate_percentage(Classe1_Vivos,Vivos.Survived.count())}")
print("Segunda Classe:",calculate_percentage(Classe2_Vivos,Vivos.Survived.count()))
print("Terceira Classe:",calculate_percentage(Classe3_Vivos,Vivos.Survived.count()))

Sobreviventes:
Primeira Classe: 39.77%
Segunda Classe: 25.44%
Terceira Classe: 34.80%

## Agora vamos mudar um pouco, será que tem alguma relação entre a taxa de sobrevivência e a idade?

![alt text](https://databootcamp.nyc3.digitaloceanspaces.com/img/desafio.jpg)

Precisamos de dados de faixa etária e familiares para resolver ele. Vamos pegar a faixa etária primeiro

In [214]:
# Tranformando dados com apply

# Aplicando uma função aos dados para transformar a idade em faixas etárias.
# O resultado do apply é uma Série.
def faixa_etaria(linhas):
    idade = linhas["Age"]
    if idade < 12:
        return "criança"
    elif idade >=12 and idade < 18:
        return "adolescente"
    elif idade >=18 and idade < 65:
        return "adulto"
    elif idade >= 65:
        return "idoso"
    else:
        return "nada"
        
# Criamos a coluna "faixa_etaria" onde atribuímos o valor da Série
# resultante do apply
titanic["faixa_etaria"] = titanic.apply(faixa_etaria, axis=1)

In [205]:
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Parentes,faixa_etaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,adulto
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,adulto
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,adulto
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,adulto
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,nada
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,adulto
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4,criança
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,2,adulto
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1,adolescente

#### Agora vamos reaplicar o nosso filtro

In [215]:
mortos = titanic[titanic["Survived"] == 0]
vivos = titanic[titanic["Survived"] == 1]

In [216]:
mortos.Survived[titanic["faixa_etaria"] == "criança"].count()

29

In [217]:
vivos.Survived[titanic["faixa_etaria"] == "criança"].count()

39

In [218]:
mortos.Survived[titanic["faixa_etaria"] == "adolescente"].count()

23

In [219]:
vivos.Survived[titanic["faixa_etaria"] == "adolescente"].count()

22

In [220]:
mortos.Survived[titanic["faixa_etaria"] == "adulto"].count()

362

In [221]:
vivos.Survived[titanic["faixa_etaria"] == "adulto"].count()

228

## Birkenhead Drill

![](https://databootcamp.nyc3.digitaloceanspaces.com/img/women-and-children-first.jpg)

Em 1852, existia um código de conduta chamado ***Birkenhead Drill***, que protocolava a ordem de resgate de uma situação de vida e morte. Esse código priorizava a vida das mulheres e crianças. Sabemos que o acidente do Titanic ocorreu em 1912, décadas depois da criação deste código.

## Crie um filtro que aplique essa regra :)

![alt text](https://databootcamp.nyc3.digitaloceanspaces.com/img/desafio.jpg)

In [254]:
#Calcular o número inteiro de mortos que são MULHERES OU CRIANÇAS

Crianca_Mulheres_Mortas = Mortos.Survived[(titanic["faixa_etaria"]=="criança")  |  (titanic["Sex"]=="female")].count()
print(Crianca_Mulheres_Mortas)

97

In [255]:
#Calcular o número inteiro de vivos que são MULHERES OU CRIANÇAS

Crianca_Mulheres_Vivas = Vivos.Survived[((titanic["faixa_etaria"]=="criança") | (titanic["Sex"]=="female"))].count()
print(Crianca_Mulheres_Vivas)

253

In [256]:
# PESQUISAR

Crianca_Mulheres_Mortas2 = Mortos.Survived[(titanic["faixa_etaria"]=="criança") | (titanic["Sex"]=="female") & (titanic["faixa_etaria"]=="adulto")].count()
print(Crianca_Mulheres_Mortas2)

76

In [257]:
# PESQUISAR

Crianca_Mulheres_Vivas2 = Vivos.Survived[((titanic["Sex"]=="female") & (titanic["faixa_etaria"]=="adulto")) | (titanic["faixa_etaria"]=="criança")].count()
print(Crianca_Mulheres_Vivas)

253

In [259]:
#Porcentagem dos sobreviventes e mortos que são MULHERES OU CRIANÇAS

print("Porcentagem dos mortos mulher ou criança:",calculate_percentage(Crianca_Mulheres_Vivas,Vivos.Survived.count()))
print("Porcentagem dos vivos mulher ou criança:",calculate_percentage(Crianca_Mulheres_Mortas,Mortos.Survived.count()))

Porcentagem dos mortos mulher ou criança: 73.98%
Porcentagem dos vivos mulher ou criança: 17.67%

## Apagando colunas

Nem todas as colunas são necessárias para realizar uma análise, a coluna `Name`, por exemplo, pode não ser muito relevante.

In [244]:
titanic.drop(["Name"], axis=1)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Parentes,faixa_etaria
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,adulto
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,1,adulto
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,adulto
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,1,adulto
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,0,adulto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S,0,adulto
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,S,0,adulto
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3,nada
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C,0,adulto
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q,0,adulto

In [245]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Parentes,faixa_etaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,adulto
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,adulto
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,adulto
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,adulto

## Alterando o nome da coluna

In [246]:
titanic.rename(columns={'faixa_etaria': 'AgeRange'})
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Parentes,faixa_etaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,adulto
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,adulto
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,adulto
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,adulto

In [262]:
titanicx=titanic.drop_duplicates(subset="Pclass") # Mínimo de vezes que aparece o Pclass
titanicx

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Parentes,faixa_etaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,adulto
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1,adolescente